---
import GitHubIcon from "./GitHubIcon.astro";
import Search from "./Search";

---

<header class="flex items-center justify-between py-4 sticky top-0 bg-[rgba(236,228,236,1)] dark:bg-[rgb(0,2,18)]">
  <a href="/">
    <img src="/logo.svg" alt="Logo" class="h-8 w-8 inline" />
    TypeSchema
  </a>
  <Search client:load />
  <div class="flex items-center">
    <nav>
      <a href="/docs/getting-started" class="mr-4">
        Docs
      </a>
    </nav>
    <GitHubIcon />
  </div>
</header>
