node_modules
coverage
.out
out/
dist/
.output
dist/
.DS_Store
*.pem
.eslintcache
.pnpm-debug.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.env.production
.turbo







