---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import { SITE } from "../config";

---

<!DOCTYPE html>
<html dir="ltr" lang="en-us" class="initial">
  <head>
    <Head  />
    <title>{SITE.title}</title>
  </head>
  <body class="min-h-screen max-w-7xl mx-auto">
    <Header />
    <main>
      <slot/>
    </main>
	</body>
</html>
