---
import Head from "../components/Head.astro";
import { SITE } from "../config";
---

<!DOCTYPE html>
<html dir="ltr" lang="en-us" class="initial">
  <head>
    <Head  />
    <title>{SITE.title}</title>
  </head>
  <body>
    <main class="min-h-screen max-w-7xl mx-auto flex flex-col items-center justify-center">
      <h1 class="text-7xl mb-4">
        404
      </h1>
      <p class="text-3xl">
        Page not found.
      </p>

      <a href="/" class="mt-8 text-xl">Go back</a>
    </main>
  </body>
</html>
